################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Athletic.net Scraper/CopilotIndices/17.14.1584.41681
/.vs/Athletic.net Scraper/FileContentIndex
*.suo
*.wsuo
*.json
/.vs/slnx.sqlite
/__pycache__
/.gitattributes
/tfrrs_scraper.pyproj
/scrapers/xc_parser.py
/scrapers/track_parser.py
/documents
